Mobius.Server/SAMLAssertion/Web References/RetrieveDocument/DocumentRetrieveIntegrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:tns="urn:gov:hhs:fha:nhinc:common:subscription" xmlns:addr="http://www.w3.org/2005/08/addressing" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:subb2obcdc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" xmlns:nhin-cdc="http://www.hhs.gov/healthit/nhin/cdc" xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon" xmlns:subb2obdoc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" elementFormDefault="qualified" targetNamespace="urn:gov:hhs:fha:nhinc:common:subscription" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService?xsd=1" namespace="http://docs.oasis-open.org/wsn/b-2" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService?xsd=7" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService?xsd=9" namespace="urn:ihe:iti:xds-b:2007" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService?xsd=12" namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService?xsd=18" namespace="http://www.w3.org/2005/08/addressing" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService?xsd=11" namespace="http://www.hhs.gov/healthit/nhin/cdc" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService?xsd=15" namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService?xsd=16" namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" />
  <xsd:complexType name="CommunityType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:string" />
      <xsd:element name="Name" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Community" type="tns:CommunityType" />
  <xsd:complexType name="SubscriberType">
    <xsd:sequence>
      <xsd:element name="Community" type="tns:CommunityType" />
      <xsd:element name="NotificationConsumerEndpointAddress" type="xsd:string" />
      <xsd:element name="UserAddress" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Subscriber" type="tns:SubscriberType" />
  <xsd:complexType name="SubscribeeType">
    <xsd:sequence>
      <xsd:element name="Community" type="tns:CommunityType" />
      <xsd:element name="NotificationProducerEndpointAddress" type="xsd:string" />
      <xsd:element name="UserAddress" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Subscribee" type="tns:SubscribeeType" />
  <xsd:complexType name="SubscriptionCriteriaType">
    <xsd:sequence>
      <xsd:element name="SubscribeePatient" type="nccommon:QualifiedSubjectIdentifierType" />
      <xsd:element name="SubscriberPatient" type="nccommon:QualifiedSubjectIdentifierType" />
      <xsd:element minOccurs="0" name="Criteria" type="tns:CriteriaType" />
      <xsd:element minOccurs="0" name="TopicExpression" type="tns:TopicExpressionType" />
      <xsd:element minOccurs="0" name="SubscriptionPolicy" type="tns:SubscriptionPolicyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionCriteria" type="tns:SubscriptionCriteriaType" />
  <xsd:complexType name="SubscriptionReferenceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SubscriptionManagerEndpointAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReferenceParameters" type="tns:ReferenceParametersType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType" />
  <xsd:complexType name="SubscriptionItemType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Subscriber" type="tns:SubscriberType" />
      <xsd:element minOccurs="0" name="Subscribee" type="tns:SubscribeeType" />
      <xsd:element minOccurs="0" name="SubscriptionCriteria" type="tns:SubscriptionCriteriaType" />
      <xsd:element minOccurs="0" name="SubscriptionReference" type="tns:SubscriptionReferenceType" />
      <xsd:element minOccurs="0" name="ParentSubscriptionReference" type="tns:SubscriptionReferenceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionItem" type="tns:SubscriptionItemType" />
  <xsd:complexType name="SubscriptionItemsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="subscriptionItem" type="tns:SubscriptionItemType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionItems" type="tns:SubscriptionItemsType" />
  <xsd:complexType name="CriterionType">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Criterion" type="tns:CriterionType" />
  <xsd:complexType name="CriteriaType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Criterion" type="tns:CriterionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Criteria" type="tns:CriteriaType" />
  <xsd:complexType name="ReferenceParameterType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Prefix" type="xsd:string" />
      <xsd:element name="Namespace" type="xsd:string" />
      <xsd:element name="ElementName" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReferenceParameter" type="tns:ReferenceParameterType" />
  <xsd:complexType name="ReferenceParametersType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ReferenceParameter" type="tns:ReferenceParameterType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReferenceParameters" type="tns:ReferenceParametersType" />
  <xsd:complexType name="SubscriptionReferencesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionReference" type="tns:SubscriptionReferenceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionReferences" type="tns:SubscriptionReferencesType" />
  <xsd:complexType name="SubscribeDocumentRequestType">
    <xsd:sequence>
      <xsd:element name="Assertion" type="nccommon:AssertionType" />
      <xsd:element name="Subscribe" type="tns:SubscribeDocumentType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocumentRequest" type="tns:SubscribeDocumentRequestType" />
  <xsd:complexType name="UnsubscribeType">
    <xsd:sequence>
      <xsd:element name="subscriptionReference" type="tns:SubscriptionReferenceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Unsubscribe" type="tns:UnsubscribeType" />
  <xsd:complexType name="EmptyType">
    <xsd:sequence>
      <xsd:element name="notUsed" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Empty" type="tns:EmptyType" />
  <xsd:complexType name="AckInputType">
    <xsd:sequence>
      <xsd:element name="notUsed" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AckInput" type="tns:AckInputType" />
  <xsd:complexType name="DeleteSubscriptionMessageRequestType">
    <xsd:sequence>
      <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeleteSubscriptionMessageRequest" type="tns:DeleteSubscriptionMessageRequestType" />
  <xsd:complexType name="RetrieveBySubscriptionReferenceRequestMessageType">
    <xsd:sequence>
      <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RetrieveBySubscriptionReferenceRequestMessage" type="tns:RetrieveBySubscriptionReferenceRequestMessageType" />
  <xsd:complexType name="RetrieveByParentSubscriptionReferenceMessageType">
    <xsd:sequence>
      <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RetrieveByParentSubscriptionReferenceMessage" type="tns:RetrieveByParentSubscriptionReferenceMessageType" />
  <xsd:complexType name="UpdateCppRequestType">
    <xsd:sequence>
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element name="RetrieveDocumentSetRequest" type="ihe:RetrieveDocumentSetRequestType" />
      <xsd:element name="ExtrinsicObject" type="rim:ExtrinsicObjectType" />
      <xsd:element name="optInOutFlag" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateCppRequest" type="tns:UpdateCppRequestType" />
  <xsd:complexType name="UpdateCppResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateCppResponse" type="tns:UpdateCppResponseType" />
  <xsd:complexType name="InternalNhieUnsubscribeType">
    <xsd:sequence>
      <xsd:element ref="tns:SubscriptionReference" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InternalNhieUnsubscribe" type="tns:InternalNhieUnsubscribeType" />
  <xsd:complexType name="InternalNhieUnsubscribeResponseType">
    <xsd:sequence>
      <xsd:element name="notUsed" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InternalNhieUnsubscribeResponse" type="tns:InternalNhieUnsubscribeResponseType" />
  <xsd:complexType name="NotifyWrapperType">
    <xsd:sequence>
      <xsd:element name="Assertion" type="nccommon:AssertionType" />
      <xsd:element ref="wsnt:Notify" />
      <xsd:element name="TargetHomeCommunity" type="nccommon:HomeCommunityType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifyWrapper" type="tns:NotifyWrapperType" />
  <xsd:complexType name="TopicExpressionType">
    <xsd:simpleContent>
      <xsd:extension base="tns:TopicExpressionValue">
        <xsd:attribute name="Dialect" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="text" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="TopicExpression" type="tns:TopicExpressionType" />
  <xsd:simpleType name="TopicExpressionValue">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="SubscriptionPolicyType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GenericPolicyItems" type="tns:KeyValuePairListType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionPolicy" type="tns:SubscriptionPolicyType" />
  <xsd:complexType name="KeyValuePairType">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="KeyValuePair" type="tns:KeyValuePairType" />
  <xsd:complexType name="KeyValuePairListType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePair" type="tns:KeyValuePairType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="KeyValuePairList" type="tns:KeyValuePairListType" />
  <xsd:complexType name="SubscribeDocumentType">
    <xsd:sequence>
      <xsd:element name="ConsumerReference" type="addr:EndpointReferenceType" />
      <xsd:element name="AdhocQuery" type="rim:AdhocQueryType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocument" type="tns:SubscribeDocumentType" />
  <xsd:complexType name="MessageTypesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="MessageType" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MessageTypes" type="tns:MessageTypesType" />
</xsd:schema>