Mobius.Server/SAMLAssertion/Web References/HarrisStore/StoreDocumentIntegrationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="urn:gov:hhs:fha:nhinc:gateway:samltokendata" elementFormDefault="qualified" targetNamespace="urn:gov:hhs:fha:nhinc:gateway:samltokendata" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SamlTokenDataType">
    <xsd:sequence>
      <xsd:element name="action" type="xsd:string" />
      <xsd:element name="resource" type="xsd:string" />
      <xsd:element name="purposeForUseRoleCode" type="xsd:string" />
      <xsd:element name="purposeForUseCodeSystem" type="xsd:string" />
      <xsd:element name="purposeForUseCodeSystemName" type="xsd:string" />
      <xsd:element name="purposeForUseDisplayName" type="xsd:string" />
      <xsd:element name="userFirstName" type="xsd:string" />
      <xsd:element name="userMiddleName" type="xsd:string" />
      <xsd:element name="userLastName" type="xsd:string" />
      <xsd:element name="userName" type="xsd:string" />
      <xsd:element name="userOrganization" type="xsd:string" />
      <xsd:element name="userRoleCode" type="xsd:string" />
      <xsd:element name="userRoleCodeSystem" type="xsd:string" />
      <xsd:element name="userRoleCodeSystemName" type="xsd:string" />
      <xsd:element name="userRoleCodeDisplayName" type="xsd:string" />
      <xsd:element name="expirationDate" type="xsd:string" />
      <xsd:element name="signDate" type="xsd:string" />
      <xsd:element name="contentReference" type="xsd:string" />
      <xsd:element name="content" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SamlTokenData" type="tns:SamlTokenDataType" />
</xsd:schema>