Mobius.Server/SAMLAssertion/Web References/DocQuery/DocQueryIntegrationService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" xmlns:nhin-cdc="http://www.hhs.gov/healthit/nhin/cdc" xmlns:xdsb="urn:ihe:iti:xds-b:2007" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:addr="http://www.w3.org/2005/08/addressing" elementFormDefault="qualified" targetNamespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=18" namespace="http://www.w3.org/2005/08/addressing" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=1" namespace="http://docs.oasis-open.org/wsn/b-2" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=11" namespace="http://www.hhs.gov/healthit/nhin/cdc" />
  <xsd:complexType name="SubscribeCdcBioPackageType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="wsnt:ConsumerReference" />
      <xsd:element minOccurs="0" ref="wsnt:Filter" />
      <xsd:element name="SubscriptionPolicy" type="tns:SubscriptionPolicyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubscriptionPolicyType">
    <xsd:sequence>
      <xsd:element ref="nhin-cdc:CdcBioPackageSubscriptionCriteria" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificationMessageHolderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="wsnt:SubscriptionReference" />
      <xsd:element minOccurs="0" ref="wsnt:Topic" />
      <xsd:element name="Message">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="nhin-cdc:CdcBioPackagePayload" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotifyCdcBioPackageType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="NotificationMessage" type="tns:NotificationMessageHolderType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>