Mobius.Server/SAMLAssertion/Web References/DocQuery/DocQueryIntegrationService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:xdsb="urn:ihe:iti:xds-b:2007" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:addr="http://www.w3.org/2005/08/addressing" elementFormDefault="qualified" targetNamespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=9" namespace="urn:ihe:iti:xds-b:2007" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=7" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=18" namespace="http://www.w3.org/2005/08/addressing" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=1" namespace="http://docs.oasis-open.org/wsn/b-2" />
  <xsd:complexType name="SubscribeDocumentType">
    <xsd:sequence>
      <xsd:element name="ConsumerReference" type="addr:EndpointReferenceType" />
      <xsd:element name="AdhocQuery" type="rim:AdhocQueryType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificationMessageHolderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="wsnt:SubscriptionReference" />
      <xsd:element minOccurs="0" ref="wsnt:Topic" />
      <xsd:element name="Message">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xdsb:RetrieveDocumentSetRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotifyDocumentType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="NotificationMessage" type="tns:NotificationMessageHolderType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>