Mobius.Server/SAMLAssertion/Web References/DocQuery/DocQueryIntegrationService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:edxlde="urn:oasis:names:tc:emergency:EDXL:DE:1.0" xmlns:ncsub="urn:gov:hhs:fha:nhinc:common:subscription" xmlns:tns="urn:gov:hhs:fha:nhinc:common:nhinccommonentity" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:iheaudit="http://nhinc.services.com/schema/auditmessage" xmlns:subb2obcdc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:hl7="urn:hl7-org:v3" xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon" xmlns:subb2obdoc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" elementFormDefault="qualified" targetNamespace="urn:gov:hhs:fha:nhinc:common:nhinccommonentity" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=12" namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=6" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=8" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=9" namespace="urn:ihe:iti:xds-b:2007" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=10" namespace="http://nhinc.services.com/schema/auditmessage" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=1" namespace="http://docs.oasis-open.org/wsn/b-2" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=14" namespace="urn:gov:hhs:fha:nhinc:common:subscription" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=7" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=15" namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=16" namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" />
  <xsd:import schemaLocation="http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService?xsd=4" namespace="urn:oasis:names:tc:emergency:EDXL:DE:1.0" />
  <xsd:complexType name="RespondingGateway_CrossGatewayQueryRequestType">
    <xsd:sequence>
      <xsd:element ref="query:AdhocQueryRequest" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayQueryRequest" type="tns:RespondingGateway_CrossGatewayQueryRequestType" />
  <xsd:complexType name="RespondingGateway_CrossGatewayQueryResponseType">
    <xsd:sequence>
      <xsd:element ref="query:AdhocQueryResponse" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayQueryResponse" type="tns:RespondingGateway_CrossGatewayQueryResponseType" />
  <xsd:complexType name="RespondingGateway_CrossGatewayQueryResponseSecuredType">
    <xsd:sequence>
      <xsd:element ref="query:AdhocQueryResponse" />
      <xsd:element minOccurs="0" name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayQueryResponseSecured" type="tns:RespondingGateway_CrossGatewayQueryResponseSecuredType" />
  <xsd:complexType name="RespondingGateway_CrossGatewayQuerySecuredRequestType">
    <xsd:sequence>
      <xsd:element ref="query:AdhocQueryRequest" />
      <xsd:element minOccurs="0" name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayQuerySecuredRequest" type="tns:RespondingGateway_CrossGatewayQuerySecuredRequestType" />
  <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveRequestType">
    <xsd:sequence>
      <xsd:element ref="ihe:RetrieveDocumentSetRequest" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayRetrieveRequest" type="tns:RespondingGateway_CrossGatewayRetrieveRequestType" />
  <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveSecuredRequestType">
    <xsd:sequence>
      <xsd:element ref="ihe:RetrieveDocumentSetRequest" />
      <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayRetrieveSecuredRequest" type="tns:RespondingGateway_CrossGatewayRetrieveSecuredRequestType" />
  <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveResponseType">
    <xsd:sequence>
      <xsd:element ref="ihe:RetrieveDocumentSetResponse" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayRetrieveResponse" type="tns:RespondingGateway_CrossGatewayRetrieveResponseType" />
  <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveSecuredResponseType">
    <xsd:sequence>
      <xsd:element ref="ihe:RetrieveDocumentSetResponse" />
      <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayRetrieveSecuredResponse" type="tns:RespondingGateway_CrossGatewayRetrieveSecuredResponseType" />
  <xsd:complexType name="FindAuditEventsRequestType">
    <xsd:sequence>
      <xsd:element ref="iheaudit:FindAuditEvents" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FindAuditEventsRequest" type="tns:FindAuditEventsRequestType" />
  <xsd:complexType name="FindAuditEventsSecuredRequestType">
    <xsd:sequence>
      <xsd:element ref="iheaudit:FindAuditEvents" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FindAuditEventsSecuredRequest" type="tns:FindAuditEventsSecuredRequestType" />
  <xsd:complexType name="SubscribeRequestType">
    <xsd:sequence>
      <xsd:element ref="wsnt:Subscribe" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeRequest" type="tns:SubscribeRequestType" />
  <xsd:complexType name="SubscribeRequestSecuredType">
    <xsd:sequence>
      <xsd:element ref="wsnt:Subscribe" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeRequestSecured" type="tns:SubscribeRequestSecuredType" />
  <xsd:complexType name="SubscribeDocumentRequestType">
    <xsd:sequence>
      <xsd:element name="subscribe" type="subb2obdoc:SubscribeDocumentType" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocumentRequest" type="tns:SubscribeDocumentRequestType" />
  <xsd:complexType name="SubscribeDocumentRequestSecuredType">
    <xsd:sequence>
      <xsd:element name="subscribe" type="subb2obdoc:SubscribeDocumentType" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocumentRequestSecured" type="tns:SubscribeDocumentRequestSecuredType" />
  <xsd:complexType name="SubscribeCdcBioPackageRequestType">
    <xsd:sequence>
      <xsd:element name="subscribe" type="subb2obcdc:SubscribeCdcBioPackageType" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeCdcBioPackageRequest" type="tns:SubscribeCdcBioPackageRequestType" />
  <xsd:complexType name="SubscribeDocumentResponseType">
    <xsd:sequence>
      <xsd:element ref="wsnt:SubscribeResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocumentResponse" type="tns:SubscribeDocumentResponseType" />
  <xsd:complexType name="SubscribeCdcBioPackageResponseType">
    <xsd:sequence>
      <xsd:element ref="wsnt:SubscribeResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeCdcBioPackageResponse" type="tns:SubscribeCdcBioPackageResponseType" />
  <xsd:complexType name="UnsubscribeRequestType">
    <xsd:sequence>
      <xsd:element ref="wsnt:Unsubscribe" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UnsubscribeRequest" type="tns:UnsubscribeRequestType" />
  <xsd:complexType name="NotifySubscribersOfDocumentRequestType">
    <xsd:sequence>
      <xsd:element name="notify" type="subb2obdoc:NotifyDocumentType" />
      <xsd:element minOccurs="0" ref="rim:RegistryObjectList" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifySubscribersOfDocumentRequest" type="tns:NotifySubscribersOfDocumentRequestType" />
  <xsd:complexType name="NotifySubscribersOfDocumentRequestSecuredType">
    <xsd:sequence>
      <xsd:element name="notify" type="subb2obdoc:NotifyDocumentType" />
      <xsd:element minOccurs="0" ref="rim:RegistryObjectList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifySubscribersOfDocumentRequestSecured" type="tns:NotifySubscribersOfDocumentRequestSecuredType" />
  <xsd:complexType name="NotifySubscribersOfCdcBioPackageRequestType">
    <xsd:sequence>
      <xsd:element name="notify" type="subb2obcdc:NotifyCdcBioPackageType" />
      <xsd:element name="assertion" type="nccommon:AssertionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifySubscribersOfCdcBioPackageRequest" type="tns:NotifySubscribersOfCdcBioPackageRequestType" />
  <xsd:complexType name="NotifyRequestType">
    <xsd:sequence>
      <xsd:element ref="wsnt:Notify" />
      <xsd:element name="Assertion" type="nccommon:AssertionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifyRequest" type="tns:NotifyRequestType" />
  <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetRequestType">
    <xsd:sequence>
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
      <xsd:element name="ProvideAndRegisterDocumentSetRequest" type="ihe:ProvideAndRegisterDocumentSetRequestType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="url" type="nccommon:UrlInfoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetRequestType" />
  <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
      <xsd:element name="ProvideAndRegisterDocumentSetRequest" type="ihe:ProvideAndRegisterDocumentSetRequestType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="url" type="nccommon:UrlInfoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequestType" />
  <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetResponseRequestType">
    <xsd:sequence>
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
      <xsd:element name="RegistryResponse" type="rs:RegistryResponseType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetResponseRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetResponseRequestType" />
  <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
      <xsd:element name="RegistryResponse" type="rs:RegistryResponseType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequestType" />
  <xsd:complexType name="RespondingGateway_SendAlertMessageType">
    <xsd:sequence>
      <xsd:element name="assertion" type="nccommon:AssertionType" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
      <xsd:element ref="edxlde:EDXLDistribution" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_SendAlertMessage" type="tns:RespondingGateway_SendAlertMessageType" />
  <xsd:complexType name="RespondingGateway_SendAlertMessageSecuredType">
    <xsd:sequence>
      <xsd:element ref="edxlde:EDXLDistribution" />
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_SendAlertMessageSecured" type="tns:RespondingGateway_SendAlertMessageSecuredType" />
</xsd:schema>